page-introduce {
    .scroll-content {
        background: #f3f3f3;
    }

    .content {
        padding: 0px 10px 30px 10px;
        background: white;
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.06);

        .title {
            padding: 25px 0px;
            color: #7b5842;
            font-size: 2rem;
            font-weight: bold;
        }
    }
}
