page-admin-notice {
    textarea {
        width: 100%;
        min-height: 200px;
    }

    ion-footer {
        background: #f697a3;
        padding: 15px 0px;
        color: white;
        text-align: center;
    }
}
