<ion-menu [content]="container" side="left" type="overlay">
    <ion-content>
        <ion-list (click)="navGo(main)">
            메인
        </ion-list>
        <ion-list (click)="navGo(introduce)">
            인사말
        </ion-list>
        <ion-list (click)="navGo(support)">
            후원안내
        </ion-list>
        <ion-list (click)="navGo(org_chart)">
            조직도
        </ion-list>
        <ion-list (click)="navGo(road_to)">
            오시는 길
        </ion-list>
        <ion-list (click)="navGo(notice)">
            공지사항
        </ion-list>
        <ion-list (click)="navGo(feed)">
            소식
        </ion-list>
    </ion-content>
</ion-menu>
<ion-header class="main-header">
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button ion-only (click)="toggleMenu()" *ngIf="getPages() < 2">
                <ion-icon class="menu-icon left" name="ios-menu"></ion-icon>
            </button>
            <button ion-button ion-only (click)="back()" *ngIf="getPages() > 1">
                <ion-icon class="menu-icon left" name="ios-arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            <img src="assets/imgs/logo_white.png" alt="">
        </ion-title>
        <ion-buttons end>
            <button ion-button ion-only (click)="facebook()">
                <ion-icon class="menu-icon right" name="logo-facebook"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-nav #container [root]="rootPage"></ion-nav>
</ion-content>
<!-- <ion-footer class="main-footer">
    <div class="tab-item">
        전화
    </div>
    <div class="tab-item">
        페이스북
    </div>
    <div class="tab-item">
        메뉴1
    </div>
    <div class="tab-item">
        메뉴2
    </div>
    <div class="tab-item">
        메뉴3
    </div>
</ion-footer> -->